cryptography==40.0.1
aiogram==3.0.0b7
aiohttp==3.8.4
pymongo==4.3.3
motor==3.1.1
asyncpg==0.27.0
beautifulsoup4==4.12.0
lxml==4.9.2
SQLAlchemy==2.0.7
alembic==1.10.2
loguru==0.6.0
pytest==7.2.2
pytest-asyncio==0.21.0
redis==4.5.4